@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    /* Мы смещаем ленту ровно на одну четверть, так как у нас 4 набора */
    transform: translate3d(-25%, 0, 0);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
  /* Аппаратное ускорение для плавности */
  will-change: transform;
}

/* Убираем любые скрытые отступы, которые могут ломать расчет */
.animate-marquee div {
  flex-shrink: 0;
}
/* Опционально: остановка при наведении мыши */
.animate-marquee:hover {
  animation-play-state: paused;
}

